

/*--------------------------------
   VARIABLES Y ESTILOS GLOBALES
 -------------------------------- */

:root{
    --color-primario:#00f7d3;
    --color-secundario:#05044c;
    --color-texto:#1a1a2e;
    --color-gris:#888;
    --color-fondo:#f8f9fa;
    --color-gradiente:linear-gradient(135deg, #05044c 0%, #00f7d3 100%);
  
    --fuente-base:'Poppins', sans-serif;

}

  
body{
    font-family:var(--fuente-base);
    margin:0;
    padding:0;
    background-color:#fff;
    color:var(--color-texto);
}

  
.contenedor{
    max-width:1300px;
    margin:0 auto;
    padding:0 20px;
}
  
/*------------------
     CABECERA
-------------------*/
  
#cabecera{
    .barra-superior{
        display: flex;
        justify-content:space-between;
        padding:15px 40px;
        align-items: center;
  
        .info-contacto{
            display: flex;
            gap: 30px;
            align-items: center;
  
            .titulo{
                font-weight:600;
            }
  
            .dato{
                font-size: 12px;
                color: var(--color-gris);
            }
    
            .boton-principal{
                background-color:var(--color-secundario);
                color:white;
                padding:8px 20px;
                border-radius:20px;
                text-decoration:none;
                transition:background 0.3s;

                &:hover {
                    background-color:var(--color-primario);
                }
            }

        }
    }
  
    .menu-navegacion{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px 0;
  
        ul{
            display:flex;
            gap:30px;
            list-style:none;
            padding:0;
            margin: 0;
    
            li{
            font-size:16px;
            cursor:pointer;
            transition: color 0.3s;

            &:hover{
                color:var(--color-primario);
            }
    
            &.activo{
                color:var(--color-primario);
                font-weight:bold;
            }

            }

        }
  
        .redes-sociales img{
            height:30px;
            margin-left:15px;
            transition:transform 0.3s;

            &:hover{
                transform: scale(1.3);
            }
        }

    }

}


/* --------------*/
/* SECCIÓN HERO */
/* ------------ */

  
  #seccion-hero{
    padding:80px 40px;
    background:white;
  
    .contenido-hero{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:40px;
        flex-wrap:wrap;
    }
  
    .texto-hero {
        max-width:600px;
    
        h1{
            font-size: 38px;
            margin-bottom: 10px;
        }
    
        .negrita {
            font-weight: 700;
        }
    
        p {
            margin: 20px 0;
        }
    
        .botones-hero {
            display: flex;
            gap: 20px;
    
            a{
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 25px;
                font-weight: 600;
                transition: all 0.3s;
            }
        
            .boton-verde {
                background-color: var(--color-primario);
                color: #000;
        
                &:hover {
                filter: brightness(1.1);
                }
            }
        
            .boton-bordeado {
                border: 2px solid var(--color-secundario);
                color: var(--color-secundario);
        
                &:hover {
                background-color: var(--color-secundario);
                color: white;
                }
            }
        }
    }
    
    .imagen-hero{
        max-width:400px;
    
        img{
            width:100%;
            height:auto;
            display:block;
        }
    }



}

/*------------------------------
    SECCIÓN CARACTERÍSTICAS
------------------------------*/

#seccion-caracteristicas {
    background:linear-gradient(to bottom, #ffffff 0%, #e4fffb 100%);
    padding:10px 0;
  
    .introduccion{
        text-align:center;
        max-width:800px;
        margin:0 auto 50px;
  
        h3{
            font-size:14px;
            color:var(--color-texto);
            font-weight:400;
        }
    
        h2{
            font-size:24px;
            font-weight:700;
            color:var(--color-texto);
            margin: 10px 0;
        }
    
        p{
            color:var(--color-gris);
            font-size: 14px;
            line-height: 1.6;
        }
    }
  
    .fila-tarjetas{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        gap:30px;
        margin-bottom:30px;
    }
  
    .tarjeta{
        background-color:white;
        flex:1;
        max-width:31.5%;
        padding:30px;
        border-radius:12px;
        box-shadow:0 8px 20px rgba(0, 0, 0, 0.05);
        text-align:center;
        transition:transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover{
            transform:translateY(-5px);
            box-shadow:0 12px 24px rgba(0, 0, 0, 0.1);
        }
    
        img{
            height: 60px;
            margin-bottom: 20px;
        }
    
        h3{
            font-size: 16px;
            font-weight: 700;
            color: var(--color-texto);
            margin-bottom: 10px;
        }
    
        p{
            font-size: 14px;
            color: var(--color-gris);
            line-height: 1.6;
        }
    }

    .cta-contacto{

        margin-top:70px;
        margin-bottom: 70px;
      
        hr{
            border:none;
            height:1px;
            background-color:#1a1a2e33;
            margin-bottom:40px;
        }
      
        .contenido-contacto{
            display:flex;
            justify-content:space-between;
            align-items:center;
            flex-wrap:wrap;
            gap:20px;
        }
      
        .texto-contacto{
            h3{
            margin:0;
            font-size:16px;
            font-weight:600;
          }
      

          p{
            font-size:14px;
            color:var(--color-gris);
            margin:5px 0 0;
          }

        }
      
        .botones-contacto{
          display:flex;
          gap:15px;
            a{
                padding:10px 20px;
                border-radius:25px;
                text-decoration:none;
                font-weight:600;
                transition:all 0.3s ease;
            }
        
            .boton-oscuro{
                background-color:var(--color-secundario);
                color:white;
        
                &:hover{
                background-color:var(--color-primario);
                color:#000;
                }
            }
        
            .boton-bordeado{
                border:1px solid var(--color-secundario);
                color:var(--color-secundario);
        
                &:hover{
                background-color:var(--color-secundario);
                color:white;
                }
            }
        }
    }
      
  
}

#seccion-app {
    background: url('../assets/imgs/Rectangle\ 7.png') no-repeat center center/cover;
    color:white;
    padding:100px 0;
    position:relative;
    overflow:hidden;
    

  
    .contenido-app {
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:60px;
        flex-wrap:wrap;
    }
  
    .texto-app{
        flex:1;
        min-width:300px;
  
        .boton-descargar{
            background-color:rgba(255,255,255,0.1);
            color:white;
            padding:8px 20px;
            border-radius:20px;
            font-size:14px;
            text-decoration:none;
            display:inline-block;
            margin-bottom:20px;
            transition: all ease 0.5s;

            &:hover{
                background-color:rgba(182, 182, 182, 0.1);
            }
        }
  
        h2{
            font-size:26px;
            line-height:1.4;
            margin-bottom:20px;
        }
  
        p{
            font-size: 14px;
            color: #d4d4d4;
            margin-bottom: 30px;
        }
  
        .botones-store{
            display:flex;
            gap:20px;
    
            img{
                height:45px;
                transition:transform 0.3s;
    
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}


.imagen-app{
    flex:1;
    min-width:300px;
    text-align:center;

    .grafico-unico{
        width:85%;
        max-width:350px;
        transform:rotate(-10deg);
        transition:transform 0.4s ease;

        &:hover{
            transform:rotate(-8deg) scale(1.03);
        }
    }
}


#seccion-beneficios{
    padding:100px 0;
  
    .contenido-beneficios {
      display:flex;
      justify-content:space-between;
      gap:60px;
      align-items:flex-start;
      flex-wrap:wrap;
    }
  
    .texto-beneficios {
        flex:1;
        min-width:300px;
  
        .subtitulo-verde {
            color:var(--color-primario);
            font-weight:600;
            font-size:14px;
            margin-bottom:10px;
        }
  
        h2{
            font-size:24px;
            font-weight:700;
            margin-bottom:15px;
            color: var(--color-texto);
        }
    
        p{
            color: var(--color-gris);
            font-size:14px;
            line-height:1.6;
            margin-bottom:30px;
        }
    
        .lista-beneficios{
            display:flex;
            flex-direction:column;
            gap:25px;
    
            .beneficio{
                display:flex;
                align-items:flex-start;
                gap:15px;
        
                img{
                    width:60px;
                    margin-top:5px;
                }
        
                h3{
                    font-size:15px;
                    font-weight:700;
                    color: var(--color-texto);
                    margin-bottom: 5px;
                }
        
                p{
                    font-size: 14px;
                    color:var(--color-gris);
                }
            }
        }
    }
  
    .imagenes-beneficios{
        flex: 1;
        min-width: 300px;
        position: relative;
  
        .imagen-principal{
            position: relative;
    
            .decorativa {
            width: 100%;
            max-width: 400px;
            border-radius: 15px;
            }
    
            .foto-familia {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 400px;
            border-radius: 15px;
            }
        }
  
        .foto-laptop {
            width: 220px;
            border-radius: 10px;
            margin-top: 30px;
            margin-left: 60px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }
    }
  
}
  

#seccion-beneficios{
    padding:100px 0;
  
    .contenido-beneficios{
        display:flex;
        justify-content:space-between;
        gap:60px;
        align-items: flex-start;
        flex-wrap:wrap;
    }
  
    .texto-beneficios{
        flex:1;
        min-width:300px;
  
        .subtitulo-verde {
            color:var(--color-primario);
            font-weight:600;
            font-size:14px;
            margin-bottom:10px;
        }
  
        h2{
            font-size:24px;
            font-weight:700;
            margin-bottom:15px;
            color:var(--color-texto);
        }
  
        p{
            color:var(--color-gris);
            font-size:14px;
            line-height:1.6;
            margin-bottom:30px;
        }
  
        .lista-beneficios {
            display:flex;
            flex-direction:column;
            gap:25px;
    
            .beneficio {
            display:flex;
            align-items:flex-start;
            gap:15px;
    
                img{
                    width:60px;
                    margin-top:5px;
                }
        
                h3{
                    font-size:15px;
                    font-weight:700;
                    color:var(--color-texto);
                    margin-bottom:5px;
                }
        
                p{
                    font-size:14px;
                    color: var(--color-gris);
                }
            }
        }
    }
  
    .imagenes-beneficios{
        flex:1;
        min-width:300px;
        position:relative;
  
        .imagen-principal {
            position: relative;
    
            .decorativa {
                width: 100%;
                max-width: 400px;
                border-radius: 15px;
            }
    
            .foto-familia {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 400px;
            border-radius: 15px;
            }
        }
  
        .foto-laptop {
            width:220px;
            border-radius:10px;
            margin-top:30px;
            margin-left: 60px;
            box-shadow:0 10px 25px rgba(0,0,0,0.1);
        }
    }
}


#seccion-clientes-formulario {
    background: linear-gradient(to right,#05044c,#00f7d3);
    padding:60px 0;
    color:white;
  
    .contenedor-clientes-formulario{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
  
    .logos-clientes{
        text-align:center;
    
        .subtitulo{
            font-size:14px;
            color:var(--color-primario);
        }
  
        h2{
            font-size:22px;
            margin:10px 0 30px;
            color:white;
        }
  
        .grid-logos{
            display:flex;
            justify-content:center;
            flex-wrap: wrap;
            gap:40px;
    
            img{
                max-height:90px;
                transition:transform 0.3s ease;
        
                &:hover{
                    transform:scale(1.1);
                }
            }
        }
    }
  
    .imagen-dashboard{
        display: flex;
        justify-content: center;
    
        img {
            width: 90%;
            max-width: 900px;
            margin: 0 auto;
        }
    }
  
    .bloque-contacto{
        display: flex;
        flex-wrap: wrap;
        background: white;
        border-radius: 15px;
        overflow: hidden;
        color: var(--color-texto);
    
        .imagen-cita {
            flex:1;
            min-width:300px;
    
            img{
            width:100%;
            height:100%;
            object-fit:cover;
            }
        }
  
        .formulario-contacto{
            flex:1;
            padding:40px;
            display:flex;
            flex-direction:column;
            justify-content:center;
    
            form {
            display:flex;
            flex-direction:column;
            gap:15px;
    
                .fila-doble {
                    display:flex;
                    gap:15px;
        
                    input,select{
                    flex:1;
                    }
                }
        
                input,
                select,
                textarea {
                    border: 1px solid var(--color-primario);
                    padding: 10px 15px;
                    border-radius: 8px;
                    font-family: var(--fuente-base);
                    font-size: 14px;
                }
        
                textarea{
                    resize: none;
                    height: 100px;
                }
        
                button {
                    align-self:flex-start;
                    padding:10px 20px;
                    background:white;
                    color:var(--color-secundario);
                    border:2px solid var(--color-secundario);
                    border-radius:25px;
                    font-weight:600;
                    cursor:pointer;
                    transition:all 0.3s;
        
                    &:hover{
                    background-color:var(--color-secundario);
                    color:white;
                    }
                }
            }
        }
    }
}


#pie{
    background-color:#fff;
    padding:40px 0;
    font-size:13px;
    color:var(--color-texto);
  
    .contenedor-footer {
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    
        .logo-footer img {
            height: 35px;
        }
    
        .enlaces-footer {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 500;
    
            a{
            text-decoration:none;
            color:var(--color-texto);
            transition: color 0.3s;
    
                &:hover{
                    color:var(--color-primario);
                }
            }
    
            span{
                color: var(--color-gris);
            }

        }
  
        hr {
            width: 100%;
            max-width: 1100px;
            border: none;
            border-top: 1px solid var(--color-secundario);
            opacity: 0.2;
        }
  
        .info-inferior {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1100px;
            flex-wrap: wrap;
            gap: 15px;
    
                p{
                    margin: 0;
                }
    
            .redes-sociales{
                display:flex;
                gap:12px;
        
                a img{
                    width:25px;
                    height:25px;
                    transition:transform 0.3s;
                }
        
                a:hover img{
                    transform:scale(1.2);
                }
            }
        }
    }
}


  
  

  



    
/*==================
    RESPONSIVE
==================*/
    
@media(max-width:768px){
    #cabecera .barra-superior,
    #cabecera .menu-navegacion,
    #seccion-hero .contenido-hero{
        flex-direction: column;
        text-align: center;
    }
    
    .contenido-hero{
        gap: 30px;
    }
    
    .imagen-hero {
        order:-1;
    }
    
    .menu-navegacion ul {
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .fila-tarjetas{
        flex-direction:column;
        align-items:center;
    }
  
    .tarjeta{
        max-width:100%;
    }

    .contenido-app{
        flex-direction: column;
        text-align: center;
    }
  
    .imagen-app{
        .grafico-unico{
            width:70%;
            margin:20px auto 0;
            transform:none;
  
            &:hover{
                transform:scale(1.05);
            }
        }
    }

    .contenido-beneficios {
        flex-direction: column;
        text-align: center;
    }

    .imagenes-beneficios {
        .imagen-principal,
        .foto-laptop {
            margin: 0 auto;
        }

        .foto-laptop {
            margin-top: 20px;
        }
    }

    .texto-beneficios .lista-beneficios{
        align-items:center;

        .beneficio {
            flex-direction:column;
            text-align:center;
            align-items:center;
        }
    }


    #seccion-clientes-formulario .bloque-contacto{
        flex-direction:column;
    }


    #pie .info-inferior{
        flex-direction:column;
        text-align:center;
    }

}

@media(max-width:1024px){
    .tarjeta{
      max-width:48%;
    }
}
  
  